<nav [ngStyle]="{ 'top': navbarTop }" [class.scrolled]="scrolled" class="navbar navbar-expand-lg p-0 px-md-5 animate__animated animate__fadeInDown sticky-top overflow-hidden">
  <!-- Logo -->
  <a class="navbar-brand cr" (click)="scrollToSection('home')">
    <img loading="lazy" src="assets/image/logos/ticketat-logo-3-removebg-preview-2.png" class="logo" [alt]="'navbar.title' | translate">
  </a>

  <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon d-flex justify-content-center align-items-center">
      <i class="fa-brands fa-nfc-symbol text-white fs-1"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse list-Item" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto p-0 gap-4">
      @for ( section of sections; track $index) {
        <li class="nav-item">
          <a class="nav-link rounded-2 px-3 px-sm-0"
            href="javascript:void(0)"
            (click)="scrollToSection(section.id)"
            [ngClass]="{'active': activeLink === section.id}">
            {{ section.name | translate }}
          </a>
        </li>
      }
    </ul>
  </div>

  <ul class="navbar-nav px-0 py-3">
    <li class="nav-item d-flex align-items-center gap-2">
      <div class="btn-lang d-flex justify-content-center align-items-center rounded-3 cr" (click)="switchLang()">
        <span>{{lang.toUpperCase() == 'AR' ? 'ع' : 'EN'}}</span>
      </div>

      <div class="btn-start d-flex justify-content-center align-items-center rounded-3 cr" (click)="switchLang()">
        <a
          href="https://www.ticketateg.com/"
          target="_blank">
          {{ 'navbar.getStart' | translate }}
        </a>
      </div>
    </li>
  </ul>
</nav>
