$mainColor : #598AF0;
$second-color:#B245C2;
*{
  transition: all .3s;
}
nav{
  background-color: transparent;
  .navbar-brand{
    .logo{
      width: 150px;
    }
    span{
      font-weight: 600;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      transform: translateY(10px);
      &:first-of-type{
        transform: translateY(0);
      }
    }
  }

  .navbar-toggler-icon{
    background: none;
  }

  .list-Item{
    .nav-link{
      font-size: 14px;
      font-weight: 500;
      position: relative;
      cursor: pointer;
      &::before{
        content: '';
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: $mainColor;
        transition: all .3s;
      }
      &.active, &:hover{
        color: $mainColor;
      }
      &.active::before,&:hover::before{
        width: 75%;
      }
    }
  }
  .btn-lang{
    border: 1px solid $mainColor;
  }
}

@media (max-width:567px) {
  nav{
    .navbar-brand{
      .logo{
        width: 100px;
      }
    }
  }
  .list-Item{
    .nav-link{
      padding-inline: 10px !important;
      &::before{
        right: 0;
        bottom: -5px !important;
      }
    }
  }
}
