<section class="overflow-hidden">


  <app-navbar></app-navbar>
  <app-home></app-home>

  <!-- <div class="text-center">
    <div #qrCode></div>
  </div> -->

  <app-about></app-about>
  <app-why-choose-us></app-why-choose-us>
  <app-feature></app-feature>
  <app-how-it-work></app-how-it-work>
  <app-event-types></app-event-types>
  <app-pricing></app-pricing>
  <app-faq></app-faq>
  <app-contact-us></app-contact-us>
  <!-- <app-our-work></app-our-work> -->
  <!-- <app-partners></app-partners> -->
  <app-footer></app-footer>

  <a (click)="scrollToTop()" [ngClass]="{'d-block': showArrow,'d-none': !showArrow}" class="arrowup cr"><i class="fa-solid fa-chevron-up"></i></a>
</section>
